.git
env/
yolo/__pycache__
yolo/weights/yolov3-modanet_last.weights
predictors/__pycache__
__pycache__
.vscode
/*.json
image_retrieval.py 
create_coco_eval_json.py
create_mask_feat_vec.py
create_retrieval_eval_vecs.py
create_yolo_feat_vec.py
draw_modanet_bbox.py
draw_df2_bbox.py
imagenes_asd.py
test_times.py
webcam_demo.py
webcam_retrieval.py
new_image_retrieval.py



